@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


:root {
    --alure-theme: #0A3871;
    --danger: red
}

*{font-family: 'Inter';}


body, textarea{
    border: none;
    background-color: #E5E5E5;
}

footer{background-color: var(--alure-theme);}

div.container__buttons, section {width: 100%;}


section > div{
    width: 90%;
    margin: auto;
    text-align: center;
    height: 100%;
}

.hidden, #munieco{
    display: none;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-row{flex-direction: row;}

.flex-column{
    flex-direction: column;
    align-items: center;
}


.container__buttons_alura{
    border-radius: 24px;
    margin: 10px 20px 10px 20px;
    border: solid var(--alure-theme) 1px;
    width: 320px !important;
    height: 65px !important;
}

.card{
    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    
}

textarea.danger{
    border: solid var(--danger) 1px;
    outline: solid var(--danger) 1px;;
}

#text-cifrable{
    border-radius: 12px;
    width: 80%;
    height: 50vh;
}

#text-cifrable::placeholder{
    color:var(--alure-theme);
    font-size: 1.5rem;
}

#text-cifrable:focus-visible{
    outline: solid var(--alure-theme) 1px;
    border-radius: 12px;
}

#cifrar{
    background-color: var(--alure-theme);
    color: aliceblue;
}

@media (min-width:1000px) {
    #munieco{
        display: block;
        margin: auto;
    }
    
    main{
        height: 90vh;
        flex-direction: row;
    }

    main > section:first-child{
        max-width: 60%;
    }

    main > section:nth-child(2){
        width: 100%
    };

    .flex-column{
        height: 90%;
        flex-direction: column;
    }
    .card{
        max-width: 400px;
        height: 90vh;
        animation-duration: 3s;
        animation-name: slidein;
    }

    
}

@keyframes slidein {
    from {
      margin-left: -500px;
    }
  
    to {
      margin-left: 0%;
    }
}